{% extends 'base.html.twig' %}

{% block title %}Page d'accueil de Citygma{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="">

{% endblock %}

{% block body %}
    <div id="enygma">
        <!--<h2>Ceci est la page d'accueil de Citygma</h2>-->
    </div>
    <p>Ceci est la page d'accueil de Citygma</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!--<script src="{# asset('build/manifest.json') #}"></script>-->
    {{ encore_entry_script_tags('citygma') }}
    <!--<script src="{{ asset('build/citygma.js') }}"></script>-->
{% endblock %}